body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #1d2633;
    color: #d2d9e1;
}

.container {
    width: 100%;
    min-width: 600px;
    max-width: 50%;
    margin: 20px auto; /* Центрирование контейнера с отступами сверху и снизу */
    background-color: #2C384A;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: center; /* Центрирование меню */
    align-items: center;
    background-color: #1d2633;
    padding: 10px 20px;
    border-bottom: 1px solid #aebbca;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #f4f4f9;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: left;
}

.submenu {
    background-color: #171d26;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Центрируем содержимое */
    font-size: 12px;
}

.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Центрируем пункты подменю */
}

.submenu ul li {
    margin: 0 15px;
}

.submenu ul li a {
    text-decoration: none;
    color: #f4f4f9;
    font-weight: bold;
    transition: color 0.3s;
}

a {
    color: #D9AEFF;
}

a:visited {
    color: #5EA4FF;
}

