<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>О нас</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Подключаем внешний CSS файл -->
</head>
<body>
<div class="container">
    <div th:replace="~{menu :: menu}"></div>
    <main>
        <h2>О нас</h2>
        <p>
            Проект разрабатоли <a href="https://edu.21-school.ru/profile/wilmerno">wilmerno</a> & <a href="https://edu.21-school.ru/profile/quarkron">quarkron</a> & <a href="https://edu.21-school.ru/profile/rosenber">rosenber</a>
        </p>
    </main>
</div>
</body>
</html>
