<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Checks List</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Подключаем внешний CSS файл -->
</head>
<body>
<div class="container">
    <div th:replace="~{menu :: menu}"></div>
    <div th:replace="~{menu :: submenu}"></div>
    <main>
        <h2>Checks List</h2>
        <table border="1" th:if="${!#lists.isEmpty(checks)}">
            <thead>
            <tr>
                <th>ID</th>
                <th>Peer</th>
                <th>Task</th>
                <td>Date</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="check : ${checks}">
                <td th:text="${check.id}"></td>
                <td><a th:href="@{/peers/{nickname}(nickname=${check.peer})}" th:text="${check.peer}"></a></td>
                <td><a th:href="@{/tasks/{taskname}(taskname=${check.task})}" th:text="${check.task}"></a></td>
                <td th:text="${check.date}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>