<header th:fragment="menu">
    <a href="/"><img class="logo" src="/pics/school21logo.svg" alt="Логотип"></a>
    <nav>
        <ul>
            <li><a th:href="@{/data}">Данные</a></li>
            <li><a th:href="@{/operations}">Операции</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
        </ul>
    </nav>
</header>
<header th:fragment="submenu" class="submenu">
    <nav>
        <ul>
            <li><a th:href="@{/peers}">😺 Пиры</a></li>
            <li><a th:href="@{/tasks}">📋 Таски</a></li>
            <li><a th:href="@{/checks}">🔬 Проверки</a></li>
        </ul>
    </nav>
</header>
