<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Peer Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/confirm_form.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{menu :: menu}"></div>
    <div th:replace="~{menu :: submenu}"></div>
    <main>
        <h2 th:text="${peer.nickname == null ? 'Add New Peer' : 'Edit Peer'}"></h2>

        <form th:action="@{/peers/save}" method="post" data-confirm="Вы уверены?">
            <input type="hidden" th:if="${peer.nickname != null}" name="nickname" th:value="${peer.nickname}" />
            <div>
                <label for="nickname">Nickname:</label>
                <input type="text" id="nickname" name="nickname" th:disabled="${peer.nickname != null}"
                       th:value="${peer.nickname}" required />
            </div>
            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" th:value="${peer.birthday}" required />
            </div>
            <button type="submit">Save</button>
            <a th:href="@{/peers}">
                <button type="button">Cancel</button>
            </a>
        </form>
    </main>
</div>
</body>
</html>
