<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Peer Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div th:replace="~{menu :: menu}"></div>
    <div th:replace="~{menu :: submenu}"></div>
    <main>
        <h2>Details for: <span th:text="${peer.nickname}"></span></h2>
        <p>Birthday: <span th:text="${peer.birthday}"></span></p>
        <a href="/peers">Back to list</a>
    </main>
</div>
</body>
</html>
