<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Tasks List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div th:replace="~{menu :: menu}"></div>
    <div th:replace="~{menu :: submenu}"></div>
    <main>
        <h2>Tasks List</h2>

        <div>
            <a th:href="@{/tasks/add}" style="margin-bottom: 10px; display: inline-block;">
                <button type="button">Add New Task</button>
            </a>
            <a th:href="@{/data/export?tableName=tasks&fileName=tasks.csv}" style="margin-bottom: 10px; display: inline-block;">
                <button type="button">Export Tasks to CSV</button>
            </a>
            <form id="uploadForm" th:action="@{/data/import}" method="post" enctype="multipart/form-data" style="display: inline-block;">
                <input type="hidden" name="tableName" value="tasks">
                <input type="file" id="fileInput" name="file" style="display: none;" required>
                <button type="button" id="uploadButton">Import CSV</button>
            </form>
        </div>

        <table th:if="${!#lists.isEmpty(tasks)}">
            <thead>
            <tr>
                <th>Task name</th>
                <th>Parent task</th>
                <th>Max XP</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td><a th:href="@{/tasks/{title}(title=${task.title})}" th:text="${task.title}"></a></td>
                <td th:text="${task.parentTask}"></td>
                <td th:text="${task.maxXp}"></td>
                <td>
                    <a th:href="@{/tasks/edit/{title}(title=${task.title})}">
                        <img class="icon" src="/pics/pen.png">
                    </a>
                </td>
                <td>
                    <a th:href="@{/tasks/remove/{title}(title=${task.title})}" data-confirm="Вы уверены?">
                        <img class="icon" src="/pics/remove.png">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
<script type="text/javascript" src="/js/confirm_form.js"></script>
<script type="text/javascript" src="/js/import_button.js"></script>
</html>